/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.docker/dbdata
/.idea/
/bootstrap/cache/
/storage/logs/
.env
.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
IDE_HELPERS.md
